MINIO_ROOT_USER=minio
MINIO_ROOT_PW=minio123
PG_ADMIN_USER=postgres
PG_ADMIN_PW=postgres
PG_LOAD_USER=load_service
PG_LOAD_PW=loadservicepassword
PG_DBT_USER=dbt
PG_DBT_PW=dbtpassword
PG_MIGRATION_USER=migrations
PG_MIGRATION_PW=migrationspassword
AIRFLOW_METADATA_USER=airflow
AIRFLOW_METADATA_PASSWORD=airflow
AIRFLOW_METADATA_DB=airflow
AIRFLOW_METADATA_SSLMODE=disable
AIRFLOW_WEB_USER=admin
AIRFLOW_WEB_PW=admin
AIRFLOW_WEB_FIRST_NAME=Airflow
AIRFLOW_WEB_LAST_NAME=Admin
AIRFLOW_WEB_EMAIL=admin@example.com
MINIO_EXTRACT_USER=minio_extract
MINIO_EXTRACT_TOKEN=minio_extract_token
MINIO_LOAD_USER=minio_load
MINIO_LOAD_TOKEN=minio_load_token
